
.carousel-inner{
    background-color: black;
}

.carousel-img{
    height: 850px;
}


.navbar.scrolled{
    transition: background-color 200ms ease-in;
    background-color: #ffffff
}

.quienessomos{
    background-color: black;
    padding-bottom: 3em;
    
}

.quienessomos h2{
    color: white;
    text-align: center;
    padding: 1em;
    padding-top: 2em;
    font-family: 'Raleway', sans-serif;

}

hr{
    color: white;
    margin-top: 2em;
    margin-bottom: 5em;
    
}

.quienessomos p{
    color: white;
}

.icon1 {
    height: 30px;
    text-align: center;
    color: white;
    background-color: rgb(2, 200, 250) 
    
}

.icon2 {
    height: 30px;
    text-align: center;
    color: white;
    background-color:  rgb(2, 200, 250)  
}

.icon3 {
    height: 30px;
    text-align: center;
    color: white;
    background-color: rgb(2, 200, 250) 
}

.destacados{
    background-color: black;
    padding-bottom: 3em;
}
    

.destacados h2{
    color: white;
    text-align: center;
    padding: 1em;
    padding-top: 2em;
    font-family: 'Raleway', sans-serif;

}

.card-body{
    background-color: rgb(2, 200, 250);
}

.card-body h5{
    color: white;
    font-family: 'Raleway', sans-serif;

}

.card-body p{
    color: white;
    font-family: 'Raleway', sans-serif;

}

.destacados img{
    height: 140px;
}

.contacto{
    background-color: black;
    padding-bottom: 3em;
    color: white;
}

.contacto h2{
    color: white;
    text-align: center;
    padding: 1em;
    font-family: 'Raleway', sans-serif;

    
}


.piedepagina{
    height: 5em;
    background-color: rgb(2, 200, 250) ;
    justify-content: center;
}

.piedepagina p{
    margin-bottom: 0%;
    color: white;
    font-family: 'Raleway', sans-serif;

}

.piedepagina i{
    color: white;
}
