
.quienessomos{
    background-color: black;
    padding-bottom: 3em;
    
}

.quienessomos h2{
    color: white;
    text-align: center;
    padding: 2em;
    padding-top: 2em;
   
}

.quienessomos p{
    color: white;
}

.icon1 {
    height: 30px;
    text-align: center;
    color: white;
    background-color: rgb(2, 200, 250) 
    
}

.icon2 {
    height: 30px;
    text-align: center;
    color: white;
    background-color:  rgb(2, 200, 250)  
}

.icon3 {
    height: 30px;
    text-align: center;
    color: white;
    background-color: rgb(2, 200, 250) 
}

.destacados{
    background-color: black;
    padding-bottom: 3em;
}
    

.destacados h2{
    color: white;
    text-align: center;
    padding: 2em;
    padding-top: 2em;
}

.card-body{
    background-color: rgb(2, 200, 250);
}

.card-body h5{
    color: white;
}

.card-body p{
    color: white;
}

.destacados img{
    height: 140px;
}

.contacto{
    background-color: black;
    padding-bottom: 3em;
    color: white;
}

.contacto h2{
    color: white;
    text-align: center;
    padding: 1em;
    
}
    
    